<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="TotalIO" value="10"/>
		<add key="TotalInput" value="0"/>
		<add key="TotalOutput" value="10"/>
		<add key="ConfigMap" value="ConfigMap.xml"/>

		<add key="Bit0_IOPort" value="25"/>
		<add key="Bit0_HardwareType" value="1"/>
		<add key="Bit0_ControllerType" value="0"/>
		<add key="Bit0_Group" value="1"/>
		<add key="Bit0_IoType" value="1"/>

		<add key="Bit1_IOPort" value="24"/>
		<add key="Bit1_HardwareType" value="1"/>
		<add key="Bit1_ControllerType" value="0"/>
		<add key="Bit1_Group" value="2"/>
		<add key="Bit1_IoType" value="1"/>

		<add key="Bit2_IOPort" value="23"/>
		<add key="Bit2_HardwareType" value="1"/>
		<add key="Bit2_ControllerType" value="0"/>
		<add key="Bit2_Group" value="3"/>
		<add key="Bit2_IoType" value="1"/>

		<add key="Bit3_IOPort" value="22"/>
		<add key="Bit3_HardwareType" value="1"/>
		<add key="Bit3_ControllerType" value="0"/>
		<add key="Bit3_Group" value="4"/>
		<add key="Bit3_IoType" value="1"/>

		<add key="Bit4_IOPort" value="21"/>
		<add key="Bit4_HardwareType" value="0"/>
		<add key="Bit4_ControllerType" value="0"/>
		<add key="Bit4_Group" value="1"/>
		<add key="Bit4_IoType" value="1"/>

		<add key="Bit5_IOPort" value="18"/>
		<add key="Bit5_HardwareType" value="0"/>
		<add key="Bit5_ControllerType" value="0"/>
		<add key="Bit5_Group" value="2"/>
		<add key="Bit5_IoType" value="1"/>

		<add key="Bit6_IOPort" value="17"/>
		<add key="Bit6_HardwareType" value="0"/>
		<add key="Bit6_ControllerType" value="0"/>
		<add key="Bit6_Group" value="3"/>
		<add key="Bit6_IoType" value="1"/>

		<add key="Bit7_IOPort" value="4"/>
		<add key="Bit7_HardwareType" value="0"/>
		<add key="Bit7_ControllerType" value="0"/>
		<add key="Bit7_Group" value="4"/>
		<add key="Bit7_IoType" value="1"/>

		<add key="Bit8_IOPort" value="25"/>
		<add key="Bit8_HardwareType" value="1"/>
		<add key="Bit8_ControllerType" value="0"/>
		<add key="Bit8_Group" value="5"/>
		<add key="Bit8_IoType" value="1"/>

		<add key="Bit9_IOPort" value="4"/>
		<add key="Bit9_HardwareType" value="0"/>
		<add key="Bit9_ControllerType" value="0"/>
		<add key="Bit9_Group" value="5"/>
		<add key="Bit9_IoType" value="1"/>
	</appSettings>
</configuration>